[package]
name = "awg-toggle"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
dirs = "5.0"
anyhow = "1.0"

[profile.release]
strip = true
opt-level = "z"
lto = true
